@font-face {
  font-family: "Cat Meow";
  src: url("betutipus/focim/CatMeow-Regular.ttf");
}

body {
  background-color: #f9f0e0;
  padding: 30px;
}

h1,
h2,
h3,
p,
li {
  font-family: sans-serif;
  color: #2c2c2c;
}

h1,
h2,
h3 {
  font-family: "Good Pawoo";
}

nav {
  background-color: #a2ab73;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

nav a {
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}

nav a:hover {
  background-color: #cc3a63;
  color: white;
}

article {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  font-family: "Cat Meow";
  text-align: center;
}

h2,
h3 {
  font-size: 30px;
}

figure {
  display: inline-block;
  text-align: center;
  margin: 15px;
  transition: transform 0.3s;
}

figure:hover {
  transform: scale(1.1);
}

figcaption {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
article p,
li {
  font-size: 20px;
}

.img {
  border: 5px solid #cc3a63;
  border-radius: 5px;
  width: 300px;
}

.kiemelt {
  font-weight: bold;
  color: #a70d38;
}

ol {
  list-style-type: upper-roman;
}

footer {
  background-color: #a2ab73;
}

a:link,
a:visited {
  color: rgb(87, 33, 42);
  text-decoration: none;
}

a:hover {
  background-color: rgb(187, 181, 97);
}

a:active {
  background-color: red;
  font-style: italic;
}

table {
  border-collapse: collapse;
  width: 80%;
}

th,
td {
  border: 2px solid #2c2c2c;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #a2ab73;
}

tr:nth-child(odd) {
  background-color: #e3e4e0;
}

tr:hover {
  background-color: #859924;
}

.navigacio{
  padding: 10px;
}